   {{!--   --}}
    <section id="features" class="features"></section>

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-12 entries">

            <article class="entry entry-single">

              <div class="entry-img">
                <img src="/images/masjid.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="blog-single.html">Islamic inheritance law: the prominence in Islamic law</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">John Doe</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  Islamic inheritance law is a prominent branch of Islamic science that considerably resolving the inheritance of a deceased. 
                  All human beings are to be dead and it’s rare to be a man dead without 
                  a heir and inheritance. Islam has strictly implied In its spiritual text Holy Quran the way to decide inheritance amid heirs. 
                </p>

                <p>
                  Considering the description about Islamic inheritance in Holy Quran demonstratable and other jurisprudential laws have been told unclear,
                   the significance of this branch is apparent. Prophet Muhammed (PHUB) has imparted to be well aware about Islamic inheritance laws.
                    He says: learn Islamic laws, and teach it. it is a half phase of knowledge and could be forgotten, and it is the first thing to be kept
                     in oblivion   in my community.
                </p>

                <blockquote>
                  <p>
                   عن رسول الله صلى الله عليه وسلم, أنه قال: ((تعلموا الفرائض وعلموها؛ فإنها نصف العلم، وهو يُنسى, وهو أول شيء ينزع من أمتي)
                  </p>
                </blockquote>

                <p>
                  Bereft of different interpretations, all scholars have considered it as an Islamic science and a branch of Islamic jurisprudence.
                  On account of being comprehended by Allah himself in Holy Quran. 
                </p>

                <h3>The reason for the revelation of the verses on inheritance</h3>
                <p>
                  The holy verses about inheritance have been revealed when the widow of
                   Sa’d bin rabee’a (R) has come to prophet and said in deep despondency that Sa’d has been
                   martyred and his assets were belonged to his brother. There is an urgent need to marry his two daughters.
                    What should be done? Prophet said:
                   Allah will proclaim his decree in this case. Thus , the holy verses about inheritance are revealed.. 
                <img src="/images/quranopen.jpg" class="img-fluid" alt="">

                {{!-- <h3>Ut repellat blanditiis est dolore sunt dolorum quae.</h3>
                <p>
                  Rerum ea est assumenda pariatur quasi et quam. Facilis nam porro amet nostrum. In assumenda quia quae a id praesentium. Quos deleniti libero sed occaecati aut porro autem. Consectetur sed excepturi sint non placeat quia repellat incidunt labore. Autem facilis hic dolorum dolores vel.
                  Consectetur quasi id et optio praesentium aut asperiores eaque aut. Explicabo omnis quibusdam esse. Ex libero illum iusto totam et ut aut blanditiis. Veritatis numquam ut illum ut a quam vitae.
                </p>
                <p>
                  Alias quia non aliquid. Eos et ea velit. Voluptatem maxime enim omnis ipsa voluptas incidunt. Nulla sit eaque mollitia nisi asperiores est veniam.
                </p> --}}

              </div>

              <div class="entry-footer">
                <i class="bi bi-folder"></i>
                <ul class="cats">
                  <li><a href="#">Business</a></li>
                </ul>

                <i class="bi bi-tags"></i>
                <ul class="tags">
                  <li><a href="#">Creative</a></li>
                  <li><a href="#">Tips</a></li>
                  <li><a href="#">Marketing</a></li>
                </ul>
              </div>

            </article><!-- End blog entry -->

            {{!-- <div class="blog-author d-flex align-items-center">
              <img src="/img/blog/blog-author.jpg" class="rounded-circle float-left" alt="">
              <div>
                <h4>Jane Smith</h4>
                <div class="social-links">
                  <a href="https://twitters.com/#"><i class="bi bi-twitter"></i></a>
                  <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                  <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                </div>
                <p>
                  Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
                </p>
              </div>
            </div><!-- End blog author bio --> --}}

            

          </div><!-- End blog entries list -->

          

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Single Section -->