   {{!--   --}}
    <section id="features" class="features">
      <div class="row feature-icons" data-aos="fade-right">
          <h3>USER MANUAL </h3>

          <div class="row">

            <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
              <img src="/img/features-3.png" class="img-fluid p-4" alt="">
            </div>

            <div class="col-xl-8 d-flex content">
              <div class="row align-self-center gy-4">

                 <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="ri-brush-4-line"></i>
                  <div>
                    <h4>What id Faraidh calculator</h4>
                    <p>Faraidh calculator gives you the shares of each relative of the deceased in percentage and fraction along with its step to step reasons.</p>
                  </div>
                </div>
                
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="ri-magic-line"></i>
                  <div>
                    <h4>How to use</h4>
                    <p>Enter the  number of the relatives of the deceased correctly and click submit button</p>
                  </div>
                </div>


                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <i class="ri-line-chart-line"></i>
                  <div>
                    <h4>Befere entering the form</h4>
                    <p>Make sure you have given the deceased's wasiyya and repaid his all debts</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="ri-stack-line"></i>
                  <div>
                    <h4> Enter the data correctly</h4>
                    <p>Make sure the data that you have entered is correct as it is very important in Faraidh</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="ri-command-line"></i>
                  <div>
                    <h4>Need explanation?</h4>
                    <p>Click the explanation bar to know how each one got their shares</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                  <i class="ri-radar-line"></i>
                  <div>
                    <h4>Any Doubts, Contact us...</h4>
                    <p>Feel free to contact us to clear your doubts</p>
                  </div>
                </div>

              </div>
            </div>

          </div>

        </div>
        
        </section> 


   <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          
          <p>ISLAMIC INHERITANCE CALCULATOR</p>
        </header>
<form action="/result" method="post" enctype="multipart/form-data">
        <div class="row">
          

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
             <label class="name" for="product_name" >Father</label>
            <input type="number" class="input"   name="father" placeholder="0" min="0" max="1" value="0">

             <label class="name" for="product_name" >Mother</label>
           <input type="number" class="input"   name="mother" placeholder="0" min="0" max="1" value="0">

             <label class="name" for="product_name" >Son</label>
           <input type="number" class="input"   name="son" placeholder="0" min="0" value="0">

              <label class="name" for="product_name">Daughter</label>
           <input type="number" class="input"   name="daughter" placeholder="0" min="0"  value="0">

             <label class="name" for="product_name">Husband</label>
           <input type="number" class="input"   name="husband" placeholder="0" min="0" max="1" value="0">

             <label class="name" for="product_name" >Wife</label>
           <input type="number" class="input"   name="wife" placeholder="0" min="0" max="4" value="0">

             <label class="name" for="product_name" >Full Brother</label>
           <input type="number" class="input"   name="fullBrother" placeholder="0" min="0"  value="0">

             <label class="name" for="product_name" >Full Sister</label>
           <input type="number" class="input"   name="fullSister" placeholder="0" min="0" value="0">
          
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
              <label class="name" for="product_name" >G.son</label>
           <input type="number" class="input"   name="grandSon" placeholder="0" min="0" value="0">
             <label class="name" for="product_name" >G.daughter</label>
           <input type="number" class="input"   name="grandDaughter" placeholder="0" min="0" value="0">
             <label class="name" for="product_name" >G.father</label>
           <input type="number" class="input"   name="grandFather" placeholder="0" min="0"  value="0">
             <label class="name" for="product_name" >G.mother</label>
           <input type="number" class="input"   name="grandMother" placeholder="0" min="0" value="0">
              <label class="name" for="product_name" >Brother</label>
           <input type="number" class="input"   name="maternalBrother" placeholder="0" min="0" value="0">
             <label class="name" for="product_name" >Sister</label>
           <input type="number" class="input"   name="maternalSister" placeholder="0" min="0" value="0">
             <label class="name" for="product_name" >Brother</label>
           <input type="number" class="input"   name="paternalBrother" placeholder="0" min="0"  value="0">
             <label class="name" for="product_name" > Sister</label>
           <input type="number" class="input"   name="paternalSister" placeholder="0" min="0"  value="0">
          
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
              <label class="name" for="product_name" >Father</label>
           <input type="number" class="input"   name="father" placeholder="0" min="0" max="1" value="0">
             <label class="name" for="product_name" >Father</label>
           <input type="number" class="input"   name="father" placeholder="0" min="0" max="1" value="0">
             <label class="name" for="product_name" >Father</label>
           <input type="number" class="input"   name="father" placeholder="0" min="0" max="1" value="0">
             <label class="name" for="product_name" >Father</label>
           <input type="number" class="input"   name="father" placeholder="0" min="0" max="1" value="0">
              <label class="name" for="product_name" >Father</label>
           <input type="number" class="input"   name="father" placeholder="0" min="0" max="1" value="0">
             <label class="name" for="product_name" >Father</label>
           <input type="number" class="input"   name="father" placeholder="0" min="0" max="1" value="0">
             <label class="name" for="product_name" >Father</label>
           <input type="number" class="input"   name="father" placeholder="0" min="0" max="1" value="0">
             <label class="name" for="product_name" >Father</label>
           <input type="number" class="input"   name="father" placeholder="0" min="0" max="1" value="0">
          

          
        </div>
        <button  id="btn" type="submit" class="btn btn-success mt-4">Submit</button>
        </form>

      </div>

    </section><!-- End Values Section -->