 <div class="all">

 
 <form action="/result" method="post" enctype="multipart/form-data">

                  <div class="header">
                       <h1>FARAID CALCULATOR</h1>
                       <button  id="btn" type="submit" class="btn btn-success mt-4">Submit</button>
                   </div>
                   
                   
                   <input type="number">
               
               
                   <table class="table table-striped table-dark">
                 <thead>
                   <tr>
                     
                     <th scope="col">Name</th>
                     <th scope="col">Number</th>
                     
                     <th scope="col">Name</th>
                     <th scope="col">Number</th>
                     
                   </tr>
                 </thead>
                 <tbody>
                   <tr>
                      
                     <td >Father</td>
                     <td><div class="col-auto my-1">
     
      <select class="custom-select mr-sm-2" name="father">
        <option selected>0</option>
        <option value="1">1</option>
       
      </select>
    </div></td>
                     
              
                      
                     <td>Mother</td>
                     <td><div class="col-auto my-1">
     
      <select class="custom-select mr-sm-2" name="mother">
        <option selected>0</option>
        <option value="1">1</option>
        
      </select>
    </div></td>
                     
                   </tr>
                   <tr>
                      
                     <td>Son</td>
                     <td><div class="col-auto my-1">
     
      <select class="custom-select mr-sm-2" name="son">
        <option selected>0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
         <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
         <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
         <option value="10">10</option>
       
        
        
      </select>
    </div></td>
                     
                   
                      
                     <td>Daughter</td>
                     <td><div class="col-auto my-1">
     
      <select class="custom-select mr-sm-2" name="daughter">
        <option selected>0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
         <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
         <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
         <option value="10">10</option>
      </select>
    </div></td>
                     
                   </tr>
                   <tr>
                      
                     <td>Husband</td>
                     <td><div class="col-auto my-1">
     
      <select class="custom-select mr-sm-2" name="husband">
        <option selected>0</option>
        <option value="1">1</option>
        
      </select>
    </div></td>
                     
                   
                      
                     <td>Wife</td>
                     <td><div class="col-auto my-1">
     
      <select class="custom-select mr-sm-2" name="wife">
        <option selected>0</option>
        <option value="1">1</option>
          <option value="2">2</option>
        <option value="3">3</option>
         <option value="4">4</option>
        
      </select>
    </div></td>
                     
                   </tr>
                   <tr>
                      
                     <td>fullBrother</td>
                    <td><div class="col-auto my-1">
     
      <select class="custom-select mr-sm-2" name="fullBrother">
       <option selected>0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
         <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
         <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
         <option value="10">10</option>
      </select>
    </div></td>
                     
                  
                   
                     <td>fullSister</td>
                     <td><div class="col-auto my-1">
     
      <select class="custom-select mr-sm-2" name="fullSister">
       <option selected>0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
         <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
         <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
         <option value="10">10</option>
      </select>
    </div></td>
                     
                  </tr>
                   <tr>
               
                     <td>Grand Son</td>
                     <td><div class="col-auto my-1">
     
      <select class="custom-select mr-sm-2" name="grandSon">
       <option selected>0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
         <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
         <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
         <option value="10">10</option>
      </select>
    </div></td>
                     
                   
                  
                     <td>grandDaughter</td>
                     <td><div class="col-auto my-1">
     
      <select class="custom-select mr-sm-2" name="grandDaughter">
       <option selected>0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
         <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
         <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
         <option value="10">10</option>
      </select>
    </div></td>
                     
                  </tr>
                   <tr>
                  
                     <td>grandFather</td>
                     <td><div class="col-auto my-1">
     
      <select class="custom-select mr-sm-2" name="grandFather">
        <option selected>0</option>
        <option value="1">1</option>
        
      </select>
    </div></td>
                     
                   
                   
                     <td>grandMother</td>
                     <td><div class="col-auto my-1">
     
      <select class="custom-select mr-sm-2" name="grandMother">
        <option selected>0</option>
        <option value="1">1</option>
      
      </select>
    </div></td>
                     
                  </tr>
                  <tr>
                     
                     <td>paternalBrother</td>
                     <td><div class="col-auto my-1">
     
      <select class="custom-select mr-sm-2" name="paternalBrother">
        <option selected>0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
         <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
         <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
         <option value="10">10</option>
      </select>
    </div></td>
                     
                   
                    
                     <td>paternalSister</td>
                     <td><div class="col-auto my-1">
     
      <select class="custom-select mr-sm-2" name="paternalSister">
       <option selected>0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
         <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
         <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
         <option value="10">10</option>
      </select>
    </div></td>
                     
                   </tr>
                   <tr>
                     
                     <td>maternalBrother</td>
                     <td><div class="col-auto my-1">
     
      <select class="custom-select mr-sm-2" name="maternalBrother">
       <option selected>0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
         <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
         <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
         <option value="10">10</option>
      </select>
    </div></td>
                     
                   
                    
                     <td>maternalSister</td>
                     <td><div class="col-auto my-1">
     
      <select class="custom-select mr-sm-2" name="maternalSister">
        <option selected>0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
         <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
         <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
         <option value="10">10</option>
      </select>
    </div></td>
                     
                   </tr>
                   
                   
                   
                 </tbody>
               </table>
    </form>
    </div> 
    <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            
            <div class="form">
            <label for="product_name" style="font-size:xx-large;">Father</label>
            <input id="product_name" name="product[name]" style="margin-left:110px; width: 100px;font-size:x-large;" type="number" value="0">
            <label for="product_name" style="font-size:xx-large;">Father</label>
            <input id="product_name" name="product[name]" style="margin-left:110px; width: 100px;font-size:x-large;" type="number" value="0">
            <label for="product_name" style="font-size:xx-large;">Father</label>
            <input id="product_name" name="product[name]" style="margin-left:110px; width: 100px;font-size:x-large;" type="number" value="0">
            <label for="product_name" style="font-size:xx-large;">Father</label>
            <input id="product_name" name="product[name]" style="margin-left:110px; width: 100px;font-size:x-large;" type="number" value="0">
          
            </div>
    