
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
   
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Islamic Inheritance Calculator</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">The calculator provides the precise result of deviding inheritance as per islamic inheritance law.
            If you happen to come across any errors, please feel free to reach out to phone number provided in the contacts.
          </h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="/calculator" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="images/vector1.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>What is Faraid </h3>
              <h2>Islamic inheritance law: the prominence in Islamic law</h2>
              <p>
                Islamic inheritance law is a prominent branch of Islamic science that considerably resolving the inheritance of a deceased.
                All human beings are to be dead and it’s rare to be a man dead without 
                  a heir and inheritance. Islam has strictly implied In its spiritual text Holy Quran the way to decide inheritance amid heirs.
              </p>
              <div class="text-center text-lg-start">
                <a href="/articles" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Read More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="/img/quran.jpg" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- End About Section -->
    
    

    
    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  
