/* body{
  
 /* background-image: url(alfons-morales-YLSwjSy7stw-unsplash.jpg);*/


  /*
  margin: 20%;
  background-size: cover;
  background-repeat: no-repeat;
  align-content: center;
}

.display{
  align-content: center;
  width: 90px;
  padding-top: 2px;
  height: 40px;
  border-radius: 30px;
  font-size: 30px;
  margin-left:10px;
  margin-top: 28px;
  background-color: rgb(245, 245, 247);
  color: rgb(8, 8, 8);
  text-align: center;
}
.display1{
  align-content: center;
  width: 90px;
  padding-top: 2px;
  height: 40px;
  border-radius: 30px;
  font-size: 30px;
  margin-left:30px;
  margin-top: 35px;
  background-color: rgb(249, 249, 250);
  color: rgb(7, 7, 7);
  text-align: center;
}
.display0{
  align-content: center;
  width: 90px;
  padding-top: 2px;
  height: 40px;
  border-radius: 30px;
  font-size: 30px;
  margin-left:30px;
  margin-top: 35px;
  background-color: rgb(249, 249, 250);
  color: rgb(7, 7, 7);
  text-align: center;
  position: relative;
  display: inline;
}

#btn{
 display: inline;
 float: right;
 position: relative;
}
#btn1{
  width: 85px;
  height: 45px;
  border-radius: 30px;
  margin-top: 10px;
  margin-left: 30px;
  background-color: rgb(231, 9, 28);
  color: white;
  font-size: 20px;
  
}
.header{
  margin: auto;
  width: 60%;
  height: 80px;
  text-align: center;
  color: rgb(5, 5, 5);
  font-weight: 900;
  align-content: center;
  font-size: 60px;
  position: relative;
  align-content: center;
  
  
}
.family{
  
  width: 220px;
  height: 45px;
  text-align: center;
  color: rgb(12, 12, 12);
  background-color: rgb(249, 250, 249);
  padding: 0px 5px ;
  font-size: 30px;
  font-family: cursive;
  margin-left: 40px;
  justify-content:center;
  border-radius: 30px;
}
.family0{
  
  position: relative;
  width: 220px;
  height: 45px;
  text-align: center;
  color: rgb(12, 12, 12);
  background-color: rgb(249, 250, 249);
  padding: 0px 5px ;
  font-size: 30px;
  font-family: cursive;
  margin-left: 40px;
  justify-content:center;
  border-radius: 30px;
}
.family1{
  width: 220px;
  height: 70px;
  text-align: center;
  color: rgb(253, 250, 255);
  background-color: rgb(53, 182, 182);
  padding: 0px 10px ;
  font-size: 30px;
  font-family: cursive;
  margin-left: 40px;
  justify-content:center;
  border-radius: 30px;
}
.row{
  border: 5px solid black;
}

.number{
  align-content: center;
  width: 80px;
  height: 43px;
  border-radius: 30px;
  font-size: 30px;
  margin-left: 0px;
  margin-top: 10px;
  background-color: rgb(248, 246, 246);
  color: rgb(7, 7, 7);
  text-align: center;
}
.number0{
  align-content: center;
  width: 80px;
  height: 43px;
  border-radius: 30px;
  font-size: 30px;
  margin-left: 0px;
  margin-top: 10px;
  background-color: rgb(248, 246, 246);
  color: rgb(7, 7, 7);
  text-align: center;
  position: relative;
  display: inline;
}
#btn3{
  float: right;
  left: 30px;
}
.all{
  
  margin-left: 10%;
  margin-right: 10%;
}




 */
